.navbar-width {
    width: 64px;
}
.navbar-color {
    background-color: rgb(0, 145, 255);
}
.navbar-button {
    display: flex;
    justify-content: center;
    align-items:  center;
    width: 64px;
    height: 64px;
    padding: 0;
    font-size: 24px;
    border: none;
    background-color: rgb(0, 145, 255);
    color: rgb(255, 255, 255);;
}
.navbar-button:hover {
    background-color:rgba(0,0,0,0.1);
}
.navbar-list-button .active {
    background-color:rgb(0, 0, 0, 0.2);
}